/*
 * Marker Clusterer custom icons
 */

.landquest-icon {
	width: 31px;

	height: 31px;
	border: 0;
	position: relative;
}

.landquest-icon:after {
/*	content: '';*/
	width: 31px;
	height: 31px;
	top: 6px;
	position: absolute;
}

.landquest-icon span {
	display: none;
	background: #eee1ce;
	border: 1px solid #4c3d20;
	position: absolute;
	padding: 10px;
	bottom: 40px;
	width: 100px;
	left: -50px;
	text-align: center;
	font-weight: 800;
}

.landquest-icon span:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #eee1ce;
	border-right: 1px solid #4c3d20;
	border-bottom: 1px solid #4c3d20;
	bottom: -4px;
	left: 60px;
}

.landquest-icon:hover span {
	display: block;
}

/* makercluster icons */

.landquest-icon.water,
.landquest-icon.water:after {
	background: url(../../img/icons/_11.png);
}

.landquest-icon.aid_development,
.landquest-icon.aid_development:after {
	background: url(../../img/icons/_2.png);
}

.landquest-icon.aid_private_sector,
.landquest-icon.aid_private_sector:after {
	background: url(../../img/icons/_1.png);
}

/* layers icons */

.landquest-icon.flowers,
.landquest-icon.flowers:after {
	background: url(../../img/icons/_1.png);
}

.landquest-icon.mow_irrigation,
.landquest-icon.mow_irrigation:after {
	background: url(../../img/icons/_2.png);
}

.landquest-icon.mow_boreholes,
.landquest-icon.mow_boreholes:after {
	background: url(../../img/icons/_3.png);
}

.landquest-icon.oxfam_sand_dams,
.landquest-icon.oxfam_sand_dams:after {
	background: url(../../img/icons/_4.png);
}

.landquest-icon.oxfam_boreholes,
.landquest-icon.oxfam_boreholes:after {
	background: url(../../img/icons/_5.png);
}

.landquest-icon.oxfam_lakes,
.landquest-icon.oxfam_lakes:after {
	background: url(../../img/icons/_6.png);
}

.landquest-icon.oxfam_rivers,
.landquest-icon.oxfam_rivers:after {
	background: url(../../img/icons/_7.png);
}

.landquest-icon.oxfam_rock_catchments,
.landquest-icon.oxfam_rock_catchments:after {
	background: url(../../img/icons/_8.png);
}

.landquest-icon.oxfam_springs,
.landquest-icon.oxfam_springs:after {
	background: url(../../img/icons/_9.png);
}

.landquest-icon.oxfam_wells,
.landquest-icon.oxfam_wells:after {
	background: url(../../img/icons/_10.png);
}

.landquest-icon.oxfam_earthpan,
.landquest-icon.oxfam_earthpan:after {
	background: url(../../img/icons/_11.png);
}

.landquest-icon.spanish_programmes,
.landquest-icon.spanish_programmes:after {
	background: url(../../img/icons/_11.png);
}

.lq-map-legend {
	width: 200px;
}

.lq-map-legend ul {
	margin: 0;
	padding: 0;
}

.lq-map-legend li {
	line-height: 21px;
	border-bottom: 1px solid #ede0cd;
	padding: 10px 0 10px;
	margin: 0;
    cursor: pointer;
}
.lq-map-legend li:first-child {
	padding-top: 0;
}

.lq-map-legend li:last-child {
	border-bottom: 0;
	padding-botom: 0;
}

.lq-map-legend li img {
	float: left;
	margin: 0 10px 0 0;
}

.lq-map-legend li.disabled {
    opacity: .5;
}

.lq-map-legend li:hover {
    opacity: .75;
}