/*
 * Marker Clusterer custom icons
 */

.landquest-icon {
	width: 31px;
	line-height: 31px;
	height: 31px;
	border: 0;
	position: relative;
}

.landquest-icon:after {
	content: '';
	width: 31px;
	height: 31px;
	top: 6px;
	position: absolute;
}

.landquest-icon span {
	display: none;
	background: #333;
	color: #f0f0f0;
	position: absolute;
	bottom: 40px;
	width: 31px;
	left: 0;
	text-align: center;
	font-weight: 800;
}

.landquest-icon span:after {
	content: '';
	position: absolute;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
	width: 0;
	height: 0;
	bottom: -5px;
	left: 10px;
}

.landquest-icon:hover span {
	display: block;
}

.landquest-icon.flowers,
.landquest-icon.flowers:after {
	background: url(../../img/icons/_1.png);
}

.landquest-icon.mow_irrigation,
.landquest-icon.mow_irrigation:after {
	background: url(../../img/icons/_2.png);
}

.landquest-icon.mow_boreholes,
.landquest-icon.mow_boreholes:after {
	background: url(../../img/icons/_3.png);
}

.landquest-icon.oxfam_sand_dams,
.landquest-icon.oxfam_sand_dams:after {
	background: url(../../img/icons/_4.png);
}

.landquest-icon.oxfam_boreholes,
.landquest-icon.oxfam_boreholes:after {
	background: url(../../img/icons/_5.png);
}

.landquest-icon.oxfam_lakes,
.landquest-icon.oxfam_lakes:after {
	background: url(../../img/icons/_6.png);
}

.landquest-icon.oxfam_rivers,
.landquest-icon.oxfam_rivers:after {
	background: url(../../img/icons/_7.png);
}

.landquest-icon.oxfam_rock_catchments,
.landquest-icon.oxfam_rock_catchments:after {
	background: url(../../img/icons/_8.png);
}

.landquest-icon.oxfam_springs,
.landquest-icon.oxfam_springs:after {
	background: url(../../img/icons/_9.png);
}

.landquest-icon.oxfam_wells,
.landquest-icon.oxfam_wells:after {
	background: url(../../img/icons/_10.png);
}

.landquest-icon.oxfam_earthpan,
.landquest-icon.oxfam_earthpan:after {
	background: url(../../img/icons/_11.png);
}